<h1>Listing seeders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Speech</th>
    <th>Assistant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @seeders.each do |seeder| %>
  <tr>
    <td><%= seeder.name %></td>
    <td><%= seeder.speech_id %></td>
    <td><%= seeder.assistant_id %></td>
    <td><%= link_to 'Show', seeder %></td>
    <td><%= link_to 'Edit', edit_seeder_path(seeder) %></td>
    <td><%= link_to 'Destroy', seeder, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Seeder', new_seeder_path %>
