<section class="devise">
  <div class="row">
    <div class="page-header">
      <h1>Login</h1>
    </div>

    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name) ,:wrapper => :inline) do |f| %>

      <% if f.error_notification %>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= f.error_notification %>
        </div>
      <% end %>

      <%= field_set_tag do %>
        <%= f.input :email, :required => false, :autofocus => true, :input_html => { :class => "span6" }%>
        <%= f.input :password, :required => false %>
      <% end %>

      <div class="actions">
        <div class="span2">
          <%= f.button :submit,'Entrar', :class => 'primary' %>
        </div>
        <%= render :partial => "devise/shared/links" %>
      </div>
    <% end %>
    
  </div>
</section>

